* {
    margin: 0;
    padding: 0; 
}

html {
    scroll-behavior: smooth;
}

a {
    color: #ffffff;
    text-decoration: none; 
    transition: 0.3s;
}

a:hover {
    opacity: 0.75;
}

.logo {
    font-size: 24px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

nav {
    align-items: center;
    background-color: #23232e;
    display: flex;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    height: 10vh;
    justify-content: space-around;
}

header {
    background: url("./assets/Screen.png") no-repeat center center;
    background-color: rgba(0, 0, 0, .8);
    background-size: cover;
    height: 100vh;
} 

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    letter-spacing: 2.5px;
    margin-left: 30px; /* To separate each item */
}

.frontend {
    color: #ffffff;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 64px;
    left: 8.5%;
    object-fit: cover;
    top: 30%;
    position: absolute; 
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px; 
    margin-left: 15px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-left: 15px;
    margin-top: 1.5%;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-left: 15px;
    margin-top: 1.5%;
}

p {
    font-family: 'Roboto', sans-serif;
    margin-left: 15px;
    margin-top: 1.5%;
    text-align: justify;
}

.link-github {
    color: #ffffff;
    font-weight: 700; 
}

.box-about-me {
    background-color: #23232e;
    color: #ffffff;
    padding: 15px;
}

.box-work-experience {
    color: black;
    margin-left: 0.5px;
    padding: 15px; 
}

.box-projects {
    background-color: #5F4D3F;
    color: #ffffff;
    padding: 15px;
}

.box-contact {
    background-color: #180809;
    color: #ffffff;
    padding: 15px;
}

.items {
   margin-left: 2.5px; 
   margin-top: 0.5%;
}

.items-next-steps {
   margin-left: 15px; 
   margin-top: 1%; 
}

.item-linkedin {
    cursor: pointer;
    margin-left: 15px; 
    margin-top: 0.5%; 
}

.nav:hover {
    color: dodgerblue; 
    font-size: 20px;
}
